Resource_1 RCData "..\\..\\Downloads\\projetos delphi\\flywer server\\libeay32.dll"
Resource_2 RCData "..\\..\\Downloads\\projetos delphi\\flywer server\\ssleay32.dll"
Icon_1 RCData "..\\..\\Downloads\\projetos delphi\\flywer server\\raiz\\favicon.ico"
